@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kdam+Thmor+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: black;
}

header {
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    border: 10px;
    transition: 0.5s;
    /* font-family: "Bangers", serif; */
    font-family: "Kdam Thmor Pro", serif;
}

li:hover{
    color: #d21617;

}

#logo{
    width: 150px;
    height: auto;
}

/* Foto de capa */
#banner{
    background-image: url(media/the-batman.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

/* Parte onde vai ficar o trailer, descrição e botão */
#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: white;
    font-size: 19px;
    font-family: "Kdam Thmor Pro", serif;
    width: 70%;
    
}

.button{
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover{
    background-color: #fff;
    color: black;
}

/* Poster dos atores */
.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}

/* Estilização de todos os cards */
.card{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 20px;
    color: #fff;
    font-size: 17px;
    font-family: "Kdam Thmor Pro", serif;
}

.card:hover{
    transform: scale(1.05);
}

/* Estilização de cards individuais */
.banner1{
    background-image: url('media/batman-poster.jpg');
}

.banner2{
    background-image: url('media/selina-poster.jpg');
}

.banner3{
    background-image: url('media/riddler-poster.jpg');
}

.banner4{
    background-image: url('media/penguin-poster.jpg');
}


footer{
    background-color: black;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: "Kdam Thmor Pro", serif;
}


/* CONTATO */
.contato-pai{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contato-filho{
    width: 80%;
    max-width: 900px;
    height: 600px;
    background-color: #d21617;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kdam Thmor Pro", serif;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 30px;
    box-shadow: rgba(93, 50, 50, 0.25) 0px 50px 100px -40px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 10, 10, 0.35) 0px -2px 6px 0px inset;
    }

.titulo{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
    margin-bottom: 70px;
    top: 0;
    }

div form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    }

form label{
    font-size: 19px;
    margin-bottom: -15px;
    align-self: baseline;
    margin-left: 90px;
    }   

form input{
    width: 80%;
    padding: 10px;
    outline: none;
    border: 0;
    margin: 20px;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.8s;
    }

form input:focus{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form textarea{
    width: 80%;
    padding: 10px;
    outline: none;
    border: 0;
    margin: 20px;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.8s;
}

form textarea:focus{
     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form button{
    font-size: 19px;
    font-family: "Kdam Thmor Pro", serif;
    padding: 10px;
    margin: 20px;
    width: 82%;
    border-radius: 15px;
    cursor: pointer;
    background: #fff;
    color: black;
    transition: 0.8s;
}

form button:hover{
    color: #d21617;
    transform: scale(1.05)
}

/* CREDITOS */
.credito-container{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#creditos{
    color: #d21617;
    width: 90%;
    font-size: 30px;
    font-family: "Kdam Thmor Pro", serif;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    text-align: center;
    row-gap: 20px;
    column-gap: 30px;
}

.pessoas{
    color: #fff;
    font-size: 19px;
    font-family: "Kdam Thmor Pro", serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.direcao .roteiro .elenco .trilha-sonora .producao .equipe.tec{
    margin: 30px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 2px;
}

/* FOTOS */

.fotos{
    width: 100%;
    margin-bottom: 0,5em;
    border-radius: 2px;
}

.galeria{
    margin: 30px;
    columns: 400px;
    column-gap: 0,5em;
}

/* Para mobile */
.footer-navigation{
    display: none;
    }

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

@media (max-width: 768px){
    .footer-navigation{
        display: block;
        }
    

    nav{
        display: none;
    }

    /* Nao consigo ver a imagem inteira */
    #banner{
        background-position: 50% 50%;
        width: 100%;
        /* background-position: 10%; */
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button{
        width: 95%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

    .credito-container{
        width: 100%;
        padding: 10px;
        margin-top: 30px;

    }
    
    #creditos{
        color: #d21617;
        width: 90%;
        font-size: 30px;
        font-family: "Kdam Thmor Pro", serif;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 20px;
        column-gap: 30px;
    }
    
    .pessoas{
        color: #fff;
        font-size: 19px;
        font-family: "Kdam Thmor Pro", serif;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .direcao .roteiro .elenco .trilha-sonora .producao .equipe.tec{
        grid-template-columns: 1fr;
    }

    }   

